<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>401213049308-5lofsbga21dfvcun1eq49p6n5on1827m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401213049308-5lofsbga21dfvcun1eq49p6n5on1827m</string>
	<key>API_KEY</key>
	<string>AIzaSyCKsypckp2-yUl4fuHnXwKzjmBYnKUP98I</string>
	<key>GCM_SENDER_ID</key>
	<string>401213049308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sptg.phonegappush</string>
	<key>PROJECT_ID</key>
	<string>phonegappush-e57a6</string>
	<key>STORAGE_BUCKET</key>
	<string>phonegappush-e57a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401213049308:ios:55c51eb49fada613</string>
	<key>DATABASE_URL</key>
	<string>https://phonegappush-e57a6.firebaseio.com</string>
</dict>
</plist>